<div class="dev-team">

  <div class="dev-member">
    <img class="dev-image" src="images/78f2b0ec.ps-memyselfandi.jpg" />
    <h4>Scott Young</h4>
    <p>After spending a few years wandering around the world with the military, Scott got lost in Silicon Valley and started playing with computers.  Now, he enjoys long romantic walks on the beach with JavaScript and Python.</p>
  </div>

  <div class="dev-member">
    <img class="dev-image" src="images/ceb77019.ps-codingalone.jpg" />
    <div style="text-align: center">
      <p>SOS<br /><br />Coding Alone<br /><br />Send Refreshments<br /><img class="drink" src="images/78b2e65e.ps-refreshments.jpg" /><br />. . . _ _ _ . . .</p>
    </div>
  </div>

</div>
