@import "compass_twitter_bootstrap";

.navbar .nav > li > p {
    padding: 10px 0px;
    margin: 0px
}

.navbar .brand {
  margin-left: 0px;
}

.footer {
  padding: 20px 0px;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 18px;
}

.footer .social-icons {
  margin-left: -20px;
  padding-top: 10px;
}

.footer a {
  color: #333333;
}

.page {
  padding-top: 50px;
}

.padded {
  padding: 10px;
}

.header {
  background-color: #EEEEEE;
  margin-top: -10px;
}

.header img {
  padding: 10px 20px 0px 0px;
}

.hanging-spider {
  text-align: center;
}

#beta {
  padding-left: 10px;
  margin-top: -10px;
}
