@import "compass_twitter_bootstrap";


// heights: navbar+header=120, footer=80.
// must set dynamically

.navbar .nav > li > p {
    padding: 10px 0px;
    margin: 0px
}

body {
  min-width: 1200px;

  .navbar {
    min-width: 900px;
  }
}

.navbar .brand {
  margin-left: 0px;
}

.footer {
  padding: 20px 0px;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 18px;
}

.footer .social-icons {
  margin-left: -20px;
  padding-top: 10px;
}

.footer a {
  color: #333333;
}

.page {
  padding-top: 34px;
}

.padded {
  padding: 10px;
}

.header {
  background-color: #EEEEEE;
  position: relative;
  z-index: 10;

  img {
    padding: 10px 20px 0px 0px;
  }

  h1 {
    margin-bottom: -10px;
    color: #333333;
  }
}

#analyze {
  margin-left: 160px;
  margin-bottom: -10px;
  margin-top: -5px;
  font-style: italic;
}

.hanging-spider {
  text-align: center;
  z-index: 0;
  position: relative;

  img {
    height:200px;
    width: 200px;
    position: relative;
    z-index: 5;
    min-width: 200px;
    &:hover{
      cursor: pointer;
    }
  }
  
  h3 {
    &:hover{
      cursor: pointer;
    }
  }

  p {
    text-align: left;
  }
}

.spider-text {
  width: 200px;
  height: 140px;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;

}

#beta {
  padding-left: 10px;
  margin-top: -10px;
}

.for {
  margin-top: 20px;
}

.for-block {
  padding: 10px;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }

  img {
    margin-left: -30px;
    margin-top: -20px;
    display: inline;
  }

  h4 {
    display: inline;
    margin-top: 20px;
  }
}

.for-text {

  height: 60px;
  min-width: 410px;

  a {
    float: right;
  }
}

#test-crawl {
  padding-top: 20px;
  text-align: center;
}

#test {
  color: orange;
}

#test-crawl h5 {
  display: inline;
}

#url {
  padding-left: 15px;
}

#spider-diaries {
  text-align: center;
}

#spider-diaries h4 {
  color: blue;
}

#advanced-opts {
  margin-left: 500px;

  hr {
    margin-top: -3px;

  }
}

.adv-opts {

  form {
    background-color: #EEEEEE;
    padding-bottom: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
      
  legend {
    background-color: #FFF;
    border-color: #333;
  }

  h5 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  input {
    margin-bottom: 0px;
  }

  .need-help {
    float: right;
    padding-right: 30%;
    margin-top: -10px;
    margin-bottom: -30px;
    position: relative;
    z-index: 5;

    .help-sub {
      float: right;
      text-align: right;
      padding-left: 10px;
    }

    h4 {
      color: orange;
      display: inline;
    }

    h5 {
      display: inline;
    }
  }
}

.crawl-opts {

  a {
    display: block;
    margin-left: 250px;
  }

  div {
    float: left;
    padding: 0px 20px;
    text-align: center;
  }

  .crawlNumInput {
    width: 150px;
  }
}

.text-opts, .link-opts {
  
  .checkbox.inline {
    display: block;
    margin-left: 0px !important;
    padding-bottom: 10px;
  }
}

.word-opts, .syn-opts, .cust-opts, .cont-opts,
.stop-opts, .xpath-opts, .css-opts {

  a {
    display: block;
    margin-left: 150px;
  }

  input {
    margin-bottom: 10px;
  }

  textarea {
    margin-bottom: 10px;
    width: 70%;
  } 

  .btn-primary {
    margin-left: 10px;
  }
 
}

.icon-remove {

  &:hover {
    cursor: pointer;
  }
}

.error {
  color: red;
}

.compare ul{
  text-align: left;
}

.css-opts {

  input[type="checkbox"] {
    margin-left: 10px;
  }
}

#wordnet {
  padding-left: 14px;
}

#word-list {
  padding-left: 10px;
}

#dev {
  margin-top: 8px;
}

// Ourwords 
//////////////////////////
.our-words-container {
  margin: 20px;
  max-width: 800px;
  font-size: 16px;

  h1 {
    color: blue;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-left: 50px;
  }

  h4 {
    color: orange;
  }

  .autoscroll {
    margin-top: -30px;
    margin-bottom: 20px;
  }
}

.about {
  @include clearfix;
}

.top-image {
  float: left;
  margin-right: 20px;
}

.dev-team {

  .dev-member {
    width: 400px;
    display: inline-block;
    margin: 40px;
  }
  
  .dev-image {
    height: 180px;
    width: 180px;
    display: inline;
    float: left;
    margin-right: 30px;
  }

  h4 {
    margin: 0px;
  }

  p {
    display: inline;
    width: 200px;
  }

  .drink {
    height: 50px;
    width: 70px;
    display: inline;
    margin-right: 12px;
    margin-top: 10px;
  }
}


// Splashdown 
//////////////////////////

.analysis-list {

  font-size: 16px;
  text-align: left;
  width: 100%;

  .analysis-list-item {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }

  .analysis-list-name {
  }

  .analysis-list-date {
  }

}
.analysis-header {

  margin-bottom: 10px;

  h2 {
    padding-left: 50px;
    font-weight: normal;
  }
  h4 {
    padding-left: 50px;
    font-weight: normal;
  }
}

.tabbable {
  padding-left: 20px;
}

.nav-tabs {

  border-bottom: 1px solid #333333;
  margin-bottom: 0px;

  li > a {
    font-size: 16px;
    color: #BBBBBB;
    padding: 8px 15px;
  }

  li > a:hover {
    background-color: white;
    color: #333333;
    border-color: #DDDDDD #DDDDDD #333333 #DDDDDD;
  }

  .active {
    background-color: #EEEEEE;

    a, a:hover {
      background-color: #EEEEEE;
      border-color: #333333 #333333 transparent;
      color: #333333;
      margin-right: 0px;
    }
  }
}

.no-btn-true:hover {
  cursor: default !important;
}

.result-btns {
  float: right;
}

.active-true {
  background-color: #E6E6E6;
  background-position: 0 -15px;
  color: #333333;
  text-decoration: none;
  transition: background-position 0.1s linear 0s;
}

.tab-content {
   background-color: #EEEEEE;
   padding-top: 20px;
   border-radius: 0px 0px 10px 10px;
}

.not-included {
  height: 200px;
  text-align: center;

  h3 {
    padding-top: 50px;
  }
}

.analysis {
  padding-left: 10px;
  padding-right: 10px;
}

.analysis-content {

  @include clearfix;

  padding-left: 20px;
    
}

.additional-info {
 
}

.summary-table {

  @include clearfix;

  margin-top: 10px;
  margin-left: 130px;

  td {
    padding: 0px 10px;
  }

  td:nth-child(1), td:nth-child(4) {
    text-align: left;
  }

  td:nth-child(2), td:nth-child(5) {
    text-align: right;

    h4 {
      font-weight: normal;
    }
  }

  td:nth-child(3) {
    width: 250px;
  }


}

.analysis-box {
  display: inline-block;
  margin: 0px 35px;
  padding-top: 10px;
  text-align: center;
  width: 270px;

  .clickable {

    &:hover {
      cursor: pointer;
      color: blue;
    } 
  }

  h5 {
    margin-top: 0px;
  }

  .count-and-percent {
    @include clearfix;
    padding: 0px 15px;

    .count-total {
      display: inline;
      float: left;
    }

    .percent-total {
      display: inline;
      float: right;
    }

    .selector {
      height: 20px;
      overflow: hidden;
      text-align: left;
      width: 250px; 
      
      &:hover{
        cursor: pointer;
      }  
    }
  }
}

.link {
  width: 400px;
}


.info-box {
  width: 592px;
  padding-top: 10px;
  display: inline-block;
  float: right;
  margin: 0px 45px;
  text-align: center;

  .add-info-btns {
    float: right;
    margin-top: -35px;
    margin-right: 5px;
  }
}

.pages-tag-container {
  width: 900px;
}

.tag-box {
  float: right;
}


.url {
  font-weight: normal;
}

.search-filter {
  margin-left: 50px;
}

.word-pane {
  height: 300px;
  overflow-y: scroll;
  background-color: white;
  text-align: center;

}

.tag-pane {
  background-color: white;
  height: 300px;
  text-align: left;
  overflow-y: scroll;

  .tag {
    width: 50%;
  }

  .percent {
    float: right;
    margin-top: -19px;
  }
}


.info-pane {
  width: 592px;
  //height: 300px;
  //overflow-y: scroll;
  background-color: white;
  text-align: center;

  h4 {
    display: inline;
  }

  .item-header {
    float: left;
    padding-left: 15px;

  }

  .type-header {
    float: right;
    padding-right: 15px;
  }

  .nothing-selected {
    font-weight: normal;
  }
}

.page-pane {
  display: inline-block;
  width: 592px;
  border-right: 1px solid #EEEEEE;
}

.word-box {
    border-bottom: 1px solid #EEEEEE;
    font-size: 16px;
    font-weight: bold;
    margin: 0 8px 0 5px;
    padding: 8px 0;
}

.title {
  border-bottom: 1px solid #333333;
  padding-bottom: 0px;
}

.rank {
  float: left;
  width: 30px;
}

.count {
  float: right;
  width: 52px;
}

.word {
  width: 134px;
  margin-left: auto;
  margin-right: auto;
}

.page-box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.link-box {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.common {

  text-align: left;

  .word {
    float:right;
    width: inherit;
  }

  .link-box {
    float: right;
    width: inherit;
  }

  .rank {
    float: none;
    display: inline;
  }
}

.color-1 { color: blue; }
.color-2 { color: red; }
.color-3 { color: green; }
.color-4 { color: yellow; }
.color-5 { color: purple; }

.include-false {
  text-decoration: line-through;
  color: grey;
}

.compare-sites {
  margin-left: 30%;
  margin-top: 0px;
}

.sites {
  margin-top: -50px;
  margin-left: 38%;
}

.loading {
  text-align: center;
  padding-top: 100px;
  width: 500px;
}

// SUBVIEW SIDE NAVIGATION
//////////////////////////
.side-nav {

  margin-left: 15px;

  a {
    color: #333333;
    padding-left: 10px;
    margin-top: -20px;
  }

  h3 {
    margin-bottom: -5px;
  }
}

.sub-links {

  a {
    padding-left: 20px;
  }
}

// Login Modal
//////////////////////////
.modal {
  margin-left: -180px;
  width: 360px;

  .error {
    text-align: center;
  }
}

// HELPER FUNCS
//////////////////////////

.inline {
  display: inline;
}

.liner {
  width: 90%;  
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.no-bold {
  font-weight: normal;
}

// CRAWLING
//////////////////////////
#crawling {
  text-align: center;

  .info {
    
    color: blue;
    float: right;
    margin-top: -80px;
  }
}

#progress {
  width: 900px;
  margin: 0px auto;

  h1 {
      margin: 120px 0px 20px;
  }
}
.counters {

  div {
    display: inline-block;
    margin: 0px 40px;
    width: 200px;

    h4 {
      margin-bottom: 0px;
    }

    h5 {
      margin: 0px;
    }
  }
}
.crawl-image {
  float: left;
  height: 100px;
  width: 100px;
  margin-top: -100px;
}

#quote {
  @include clearfix;

  height: 150px;
  margin: 10px 50px;

  h4 {
    float: right;
    margin-top: -10px;
    padding-right: 50px;
    color: orange;
  }
}

// PROGRESS BAR
//////////////////////////

.meter { 
	height: 20px;
	position: relative;
	margin: 10px 0 20px 0;
  background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
	.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			-moz-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
		@-moz-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
		
		.orange > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
		}
		
		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}
		
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			-moz-animation: none;
			background-image: none;
		}

// Spinner : http://cssload.net/
//////////////////////////
#floatingBarsG{
position:relative;
width:62px;
height:77px;
margin: 0px auto;}


.blockG{
position:absolute;
background-color:#DDDDDD;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.3s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.3s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.3s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.3s;
-o-transform:rotate(-90deg);
animation-delay:0.3s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.4s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.4s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.4s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.4s;
-o-transform:rotate(-45deg);
animation-delay:0.4s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.5s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.5s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.5s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.5s;
-o-transform:rotate(0deg);
animation-delay:0.5s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.6s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.6s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.6s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.6s;
-o-transform:rotate(45deg);
animation-delay:0.6s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.7s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.7s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.7s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.7s;
-o-transform:rotate(90deg);
animation-delay:0.7s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:0.8s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.8s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.8s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.8s;
-o-transform:rotate(135deg);
animation-delay:0.8s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:0.9s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:0.9s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:0.9s;
-ms-transform:rotate(180deg);
-o-animation-delay:0.9s;
-o-transform:rotate(180deg);
animation-delay:0.9s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1s;
-o-transform:rotate(-135deg);
animation-delay:1s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@-webkit-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@-ms-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@-o-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

