@import "compass_twitter_bootstrap";

.navbar .nav > li > p {
    padding: 10px 0px;
    margin: 0px
}

.navbar .brand {
  margin-left: 0px;
}

.footer {
  padding: 20px 0px;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 18px;
}

.footer .social-icons {
  margin-left: -20px;
  padding-top: 10px;
}

.footer a {
  color: #333333;
}

.page {
  padding-top: 50px;
}

.padded {
  padding: 10px;
}

.header {
  background-color: #EEEEEE;
  margin-top: -10px;
  position: relative;
  z-index: 10;
}

.header img {
  padding: 10px 20px 0px 0px;
}

.header h1 {
  margin-bottom: -10px;
}

#analyze {
  margin-left: 160px;
  margin-bottom: -10px;
  margin-top: -5px;
  font-style: italic;
}

.hanging-spider {
  text-align: center;
  z-index: 0;
  position: relative;

  img {
    height:200px;
    width: 200px;
    position: relative;
    z-index: 5;
    &:hover{
      cursor: pointer;
    }
  }
  
  h3 {
    &:hover{
      cursor: pointer;
    }
  }

  p {
    text-align: left;
  }
}

.spider-text {
  width: 200px;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

#beta {
  padding-left: 10px;
  margin-top: -10px;
}

.for-block {
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}

.for-block img {
  margin-left: -30px;
  padding-top: 10px;
}

.for-block h4 {
  margin-top: 20px;
}

#test-crawl {
  padding-top: 20px;
  text-align: center;
}

#test {
  color: orange;
}

#test-crawl h5 {
  display: inline;
}

#url {
  padding-left: 15px;
}

#spider-diaries {
  text-align: center;
}

#spider-diaries h4 {
  color: blue;
}
