<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>
<p>Teach me how to teach a teacher's pet, it's not a conspiracy.</p>

