<div class="modal-header">
  <h1>Login</h1>
</div>

<div class="modal-body">
  <p>Email Address: <input ng-model="result.user" /></p>
  <p>Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input ng-model="result.password" /></p>
  <p ng-show="error.show" class="error">{{error.message}}</p>
</div>

<div class="modal-footer">
  <button ng-click="close(result, 'close')" class="btn btn-primary" >Cancel</button>
  <button ng-click="close(result, 'login')" class="btn btn-primary" >Login</button>
</div>

