<!-- HOME PAGE VIEW -->

<div ng-controller="MainCtrl">
  
<!-- Hanging Spiders
================================================== -->
<div class="row-fluid">
  <div class="span2 offset1 hanging-spider"  ng-click="move('spider1Margin')">
    <div class="row-fluid">
      <img src="images/PS_hangingSpider.jpg" ng-style="{ 'margin-top':spider1Margin }" />
      <div class="spider-text" ng-style="{ 'margin-top': text1Margin }">
        <p>Sample text that I want to hide.  This will talk about how fast the spider can go.  It will then give the person the option to click on a link and find out more information.  I can have a little bit more.<a href="">learn more</a></p>
      </div>
    </div>
    <div class="row-fluid">
      <h3>FAST</h3>
    </div>
  </div>
  <div class="span2 hanging-spider" ng-click="move('spider2Margin')">
    <div class="row-fluid">
      <img src="images/PS_hangingSpider.jpg" ng-style="{ 'margin-top':spider2Margin }" />
      <div class="spider-text" ng-style="{ 'margin-top': text2Margin }">
        <p>Sample text that I want to hide.  This will talk about how fast the spider can go.  It will then give the person the option to click on a link and find out more information.  I can have a little bit more.<a href="">learn more</a></p>
      </div>
    </div>
    <div class="row-fluid">
      <h3>EASY</h3>
    </div>
  </div>
  <div class="span2 hanging-spider" ng-click="move('spider3Margin')">
    <div class="row-fluid">
      <img src="images/PS_hangingSpider.jpg" ng-style="{ 'margin-top':spider3Margin }" />
      <div class="spider-text" ng-style="{ 'margin-top': text3Margin }">
        <p>Sample text that I want to hide.  This will talk about how fast the spider can go.  It will then give the person the option to click on a link and find out more information.  I can have a little bit more.<a href="">learn more</a></p>
      </div>
    </div>
    <div class="row-fluid">
      <h3>FREE</h3>
    </div>
  </div>

<!-- For Block
================================================== -->
  <div class="span4 offset1 padded">
    <div class="for-block" ng-click="animate('for1Margin')" ng-style="{ 'margin-left': for1MarginLeft, 'margin-top': for1MarginTop }">
      <img src="images/PS_angledFor.png" class="pull-left" />
      <h4>Academic Research</h4>
    </div>
    <div ng-style="{ 'margin-top': text1MarginTop, 'visibility': text1Visibility }" >
      <p>This is some mother f'ing hidden text.  When the user clicks on the for block I am going to tell them all about some awesome stuff, really.  I hope this isn't too long.  <a href="">Learn More</a></p>
    </div>
    <div class="for-block" ng-click="animate('for2Margin')" ng-style="{ 'margin-left': for2MarginLeft, 'margin-top': for2MarginTop }">
      <img src="images/PS_angledFor.png" class="pull-left" />
      <h4>Business Intelligence</h4>
    </div>
    <div ng-style="{ 'margin-top': text2MarginTop, 'visibility': text2Visibility }" >
      <p>This is some mother f'ing hidden text.  When the user clicks on the for block I am going to tell them all about some awesome stuff, really.  I hope this isn't too long.  <a href="">Learn More</a></p>
    </div>
    <div class="for-block" ng-click="animate('for3Margin')" ng-style="{ 'margin-left': for3MarginLeft, 'margin-top': for3MarginTop }">
      <img src="images/PS_angledFor.png" class="pull-left" />
      <h4>The Curious</h4>
    </div>
    <div ng-style="{ 'margin-top': text3MarginTop, 'visibility': text3Visibility }" >
      <p>This is some mother f'ing hidden text.  When the user clicks on the for block I am going to tell them all about some awesome stuff, really.  I hope this isn't too long.  <a href="">Learn More</a></p>
    </div>
  </div>
</div>

<!-- Test Crawl
================================================== -->
<div class="row-fluid">
  <div class="span8 padded">
    <div id="test-crawl">
      <h4 id="test">Take a Test Crawl</h4>
      <form name="siteToCrawl" class="form-search">
        <h5 id="url">URL:</h5>
        <input type="url" name="primarySite" class="input-xlarge search-query" placeholder="http://www.cnn.com" ng-model="crawl.primarySite" required>
        <button type="submit" class="btn">Crawl</button>
        <h4>Enter a Website</h4>
      </form>
    </div>
  </div>

<!-- Spider Diaries
================================================== -->
  <div id="spider-diaries" class="span2 padded">
    <img src="images/PS_spiderDiaries.png" />
    <h4>Tutorials  &  Examples</h4>
  </div>
</div>

<!-- Advanced Options
================================================== -->
<div class="row-fluid">
  <div class="{{spanSize}}"  ng-style="{ 'margin-top': advOptMargin }">
    <span id="advanced-opts">
      <a ng-href="" ng-mouseover="lineStyle={borderColor:'#005580'}" ng-mouseleave="lineStyle={borderColor:'#EEEEEE'}" ng-click="showOptions()">Advanced Options</a>
      <hr ng-style="lineStyle" />
    </span>
  </div>
</div>

<!-- Crawl Options
================================================== -->
<div class="row-fluid adv-opts" ng-show="showAdvOpts">

  <div class="need-help">
    <div class="inline">
      <h4>Need Help:</h4>
    </div>
    <div class="help-sub inline">
      <h5>Hover over any text to learn more</h5><br />
      <h5>...or go to the <a href="#/launchpad">Launch Pad</a></h5>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset1 crawl-opts">

      <form name="crawlOpts" ng-submit="add('additionalSites')" class="">
        <fieldset>
          <legend>Crawl Options</legend>
          <div class="liner">

          <div class="compare">
            <ul class="unstyled">

              <li>
                <h5 class="inline">Site 1: </h5>
                <span class="">{{crawl.primarySite}}</span>
              </li>

              <li ng-repeat="site in crawl.additionalSites">
                <h5 class="inline">Site {{$index + 2}}: </h5>
                <span class="">{{site}}</span>
                <i class="icon-remove" ng-click="remove('additionalSites', $index)"></i>
              </li>
            </ul>

            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Compare:</h5>
            <input type="url" name="additionalSites" class="input-xlarge search-query" placeholder="another website" ng-model="additionalSites">
            <input class="btn-primary inline" type="submit" value="add">
          </div>

          <div class="crawlNumInput">
            <input type="number" name="maxPages" class="input-small" placeholder="20" ng-model="crawl.maxPages" min="1" integer>
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="pointer">Max Pages</h5>
            <span class="error" ng-show="crawlOpts.maxPages.$error.integer">Must be an integer</span>
            <span class="error" ng-show="crawlOpts.maxPages.$error.min">Must be greater than 0</span>
          </div>

          <div class="crawlNumInput">
            <input type="number" name="totalResults" class="input-small" placeholder="1000" ng-model="crawl.totalResults" min="100" integer>
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="pointer">Total Results</h5>
            <span class="error" ng-show="crawlOpts.totalResults.$error.integer">Must be an integer</span>
            <span class="error" ng-show="crawlOpts.totalResults.$error.min">Must be greater than 99</span>
          </div>

          <div>
            <label class="checkbox inline">
            <input type="checkbox" ng-model="crawl.externalSites">
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">External Sites</h5>
            </label>
          </div>

        </div>
        </fieldset>
      </form>
    </div>
  </div>

<!-- Text Analysis Options
================================================== -->
  <div class="row-fluid">
    <div class="span2 offset1 text-opts">

      <form name="textOpts" class="">
        <fieldset>
          <legend>Text Analysis</legend>
          <div class="liner">

          <label class="checkbox inline">
            <input type="checkbox" ng-model="crawl.text.visible">
            <h5 tooltip-placement="right" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Visible Text</h5>
          </label>

          <label class="checkbox inline">
            <input type="checkbox" ng-model="crawl.text.headlines">
            <h5 tooltip-placement="right" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Headlines</h5>
          </label>

          <label class="checkbox inline">
            <input type="checkbox" ng-model="crawl.text.hidden">
            <h5 tooltip-placement="right" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Hidden Descriptions</h5>
          </label>

        </div>
        </fieldset>
      </form>
    </div>

<!-- Link Analysis Options
================================================== -->
    <div class="span2 offset1 link-opts">

      <form name="linkOpts" class="">
        <fieldset>
          <legend>Link Analysis</legend>
          <div class="liner">

          <label class="checkbox inline">
            <input type="checkbox" ng-model="crawl.links.text">
            <h5 tooltip-placement="right" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Link Text</h5>
          </label>

          <label class="checkbox inline">
            <input type="checkbox" ng-model="crawl.links.all">
            <h5 tooltip-placement="right" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">All Links</h5>
          </label>

          <label class="checkbox inline">
            <input type="checkbox" ng-model="crawl.links.external">
            <h5 tooltip-placement="right" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">External Links</h5>
          </label>

        </div>
        </fieldset>
      </form>
    </div>

<!-- Word Search Options
================================================== -->
    <div class="span4 offset1 word-opts">

      <form name="wordOpts" ng-submit="add('wordSearches')" class="">
        <fieldset>
          <legend>Word Search</legend>
          <div class="liner">

          <ul class="unstyled">
            <li ng-repeat="word in crawl.wordSearches">
              <h5 class="inline">Search Word {{$index + 1}}: </h5>
              <span class="">{{word}}</span>
              <i class="icon-remove" ng-click="remove('wordSearches', $index)"></i>
            </li>
          </ul>
            
          <label>
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Search Word:</h5>
            <input type="text" ng-model="wordSearches">
            <input class="btn-primary inline" type="submit" value="add">
          </label>

          </div>
        </fieldset>
      </form>
    </div>
  </div>

<!-- Word Context Options
================================================== -->
  <div class="row-fluid">
    <div class="span4 offset1 cont-opts">

      <form name="contOpts" ng-submit="add('wordContexts')" class="">
        <fieldset>
          <legend>Word Context Analysis</legend>
          <div class="liner">

          <ul class="unstyled">
            <li ng-repeat="word in crawl.wordContexts">
              <h5 class="inline">Context Word {{$index + 1}}: </h5>
              <span class="">{{word}}</span>
              <i class="icon-remove" ng-click="remove('wordContexts', $index)"></i>
            </li>
          </ul>

          <label>
            <h5 id="context" tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Context Word:</h5>
            <input type="text" ng-model="wordContexts">
            <input class="btn-primary inline" type="submit" value="add">
          </label>

          </div>
        </fieldset>
      </form>
    </div>

<!-- Stop Word List Options
================================================== -->
    <div class="span5 offset1 stop-opts">

      <form name="stopOpts" class="">
        <fieldset>
          <legend>Stop Word List</legend>
          <div class="liner">

          <label>
            <h5 id="stop-list" tooltip-placement="left" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Stop Words:</h5>
            <textarea ng-model="crawl.stopWords" placeholder="a, list, of, stop, words, pulled, from, the, model"></textarea>
          </label>

          </div>
        </fieldset>
      </form>
    </div>
  </div>

<!-- Synonym Ring Options
================================================== -->
  <div class="row-fluid">
    <div class="span4 offset1 syn-opts">

      <form name="synOpts" ng-submit="add('wordnets')" class="">
        <fieldset>
          <legend>Synonym Ring Analysis</legend>
          <div class="liner">

          <label>
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Predefined:</h5>
            <select multiple="multiple">
              <option ng-repeat="ring in predefinedSynRings" ng-selected="crawl.predefined.{{ring.name}}">{{ring.title}}</option>
            </select>
          </label>
          
          <ul class="unstyled">
            <li ng-repeat="wordnet in crawl.wordnets">
              <h5 class="inline">WordNet {{$index + 1}}: </h5>
              <span class="">{{wordnet}}</span>
              <i class="icon-remove" ng-click="remove('wordnets', $index)"></i>
            </li>
          </ul>

          <label>
            <h5 id="wordnet" tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">WordNet:</h5>
            <input type="text" ng-model="wordnets">
            <input class="btn-primary inline" type="submit" value="add">
          </label>

          </div>
        </fieldset>
      </form>
    </div>

<!-- Custom Synonym Ring Options
================================================== -->
    <div class="span5 offset1 cust-opts">

      <form name="custOpts" ng-submit="add('customSynRings')" class="">
        <fieldset>
          <legend>Custom Synonym Ring</legend>
          <div class="liner">

           <ul class="unstyled">
            <li ng-repeat="ring in crawl.customSynRings">
              <h5 class="inline">Ring {{$index + 1}}: </h5>
              <span class=""> {{ring.name}} </span>
              <i class="icon-remove" ng-click="remove('customSynRings', $index)"></i><br>
              <h6 class="inline">Word List: </h6>
              <span>{{ring.text}} </span>
              </li>
          </ul>

          <label>
            <h5 tooltip-placement="left" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Ring Name:</h5>
            <input type="text" ng-model="customSynRings.name">
            <input class="btn-primary inline" type="submit" value="add">
          </label>

          <label>
            <h5 id="word-list" tooltip-placement="left" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Word List:</h5>
            <textarea ng-model="customSynRings.text" placeholder="a, comma, separated, list, of, words"></textarea>
          </label>

          </div>
        </fieldset>
      </form>
    </div>
  </div>

<!-- XPath Selector Options
================================================== -->
  <div class="row-fluid">
    <div class="span4 offset1 xpath-opts">

      <form name="xpathOpts" ng-submit="add('xpathSelectors')" class="">
        <fieldset>
          <legend>XPath Selector</legend>
          <div class="liner">

          <ul class="unstyled">
            <li ng-repeat="xpath in crawl.xpathSelectors">
              <h5 class="inline">Selector {{$index + 1}}: </h5>
              <span class="">{{xpath}}</span>
              <i class="icon-remove" ng-click="remove('xpathSelectors', $index)"></i>
            </li>
          </ul>

          <label>
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Selector:</h5>
            <input type="text" ng-model="xpathSelectors">
            <input class="btn-primary inline" type="submit" value="add">
          </label>

          </div>
        </fieldset>
      </form>
    </div>

<!-- CSS Selector Options
================================================== -->
    <div class="span5 offset1 css-opts">

      <form name="cssOpts" ng-submit="add('cssSelectors')" class="">
        <fieldset>
          <legend>CSS Selector</legend>
          <div class="liner">

          <ul class="unstyled">
            <li ng-repeat="css in crawl.cssSelectors">
              <h5 class="inline">Selector {{$index + 1}}: </h5>
              <span class=""> {{css.selector}} </span>
              <span ng-show="css.text"> (text) </span>
              <i class="icon-remove" ng-click="remove('cssSelectors', $index)"></i>
            </li>
          </ul>

          <label>
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Selector:</h5>
            <input type="text" ng-model="cssSelectors.selector">
            <input type="checkbox" ng-model="cssSelectors.text">
            <h5 tooltip-placement="bottom" tooltip-animation="true" tooltip="Some crazy ass shit! Really this should just be some nice help text, helping the user to do things better and live their life.  But not too much text.  Quick and dirty." class="inline pointer">Text</h5>
            <input class="btn-primary inline" type="submit" value="add">
          </label>

          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>

</div>
