<div class="row-fluid">
  <div class="span10 padded">
    <div class="row-fluid analysis-header">
      <h2 class="inline">{{currentAnalysis.name}}</h2>
      <h4 class="inline">date: {{currentAnalysis.date}}</h4>
    </div>

<!-- RESULT TABS
================================================== -->
    <div class="row-fluid">
      <div class="btn-group result-btns">
        <button class="btn active-{{internal}}" ng-click="resultsChoice('internal')">Internal</button>
        <button class="btn active-{{external}}" ng-click="resultsChoice('external')">External</button>
      </div>
      <tabs>
        <pane heading="Text">
          <div ng-include src="'views/splashdown/text.html'"></div>        
        </pane>
        <pane heading="Links">
          <div ng-include src="'views/splashdown/text.html'"></div>
        </pane>
        <pane heading="Context">context content</pane>
        <pane heading="Synonyms">synonyms content</pane>
        <pane heading="Selectors">selector content</pane>
      </tabs>
    </div>
  </div>

<!-- Side Navigation
================================================== -->
  <div class="span2 padded side-nav">
    <h3>My Analysis</h3>
    <span ng-repeat="analysis in analysisList">
      <h4><a href="#/splasdown/{{analysis}}">{{analysis}}</a></h4>
    </span> 
  </div>
</div>


