<div class="our-words-container">
  <h1>iF.A.Q (infrequently asked questions)</h1>
  <h3>What works?</h3>
  <p>The only parts working (theoretically) are the text analysis and the link analysis. I thought context analysis, but alas no.  It and the other parts are little teases that play with my heart.  I hope to have them up and running in the next few weeks.</p>
  <h3>It's Fragile as a glass house?</h3>
  <p>The odds of your crawl breaking are better than your chances in Vegas.  There are plenty of bugs running around in the system and I'm cleaning up as fast as I can.  If a thousand page crawl is going past 10 minutes it is probably getting high listening to reggae music out on the cloud and you shouldn't expect it to accomplish anything.</p>
  <h3>It's taking too long.</h3>
  <p>Right now I've got 10 micro instances cranking with 20 processors.  The speed is about 1000 pages in 2-10 minutes, depending upon how the moons are aligned.  Although this could easily scale with more computers, I want to try to get some more juice by better handling errors, along with pinching a few shiny pennies.  Plus, the mappers tend to run fast so the dowload rate can get close to 20 pages per second on a good run.  It is currently the reduce section that takes some time (I'm currently only using 1 reducer).  With multiple sites the number of threads used is fewer so those crawls will take even longer.  God forbid two crawls get executed at once.  There might be a thermonuclear meltdown.</p>
  <h3>Why doesn't HTTPS work?</h3>
  <p>It works.  No, it doesn't work.  Yes it does work... There is a bug somewhere that I'm going to find and crush.  Although I'm sure it will mutate and I'll quickly find myself in a remake of Starship Troopers, but oh well... Last attempt worked and was able to crawl HN.</p>
  <h3>Is this a prototype?</h3>
  <p>That would be a very generous term to use.  The string is loosely connected between all parts of the system, but it's more fragile than a Top Gun tactic (NSAWC not the movie).  It also needs tools for filtering (deleting junk data) and visualizations (making results pretty).  Along with help from someone who has design taste. If you use the system, thank you.  Please send me any feedback you have: scott@parallelspider.com</p>
  <h3>What are spot instances?</h3>
  <p>They are the cheap virtual machines from Amazon currently being used by the system.  If this was an adult system, it would have a backup game-plan for those moments when someone bids the price up to a dollar for what otherwise costs point three cents.  Not sure how this happens, but the system could drop out from underneath you at any moment.  It's a dangerous world on the Internet, have fun.</p>

  <h2>Cheerio!</h3>

</div>
